In [1]:
import pandas as pd

In [2]:
initialDfMete = pd.read_csv("data/Metereologia.csv")
initialDfCont = pd.read_csv("data/Contaminantes.csv")

In [3]:
initialDfMete.head()

,Unnamed: 0,date,parameter,SE,SE_b,NE,NE_b,CE,CE_b,NO,...,SO2,SO2_b,SE3,SE3_b,SUR,SUR_b,Norte2,NTE2_b,NE3,NE3_b
0,239459,2021-07-01 00:00:00,TOUT,NaN,x,NaN,x,NaN,x,NaN,...,NaN,x,NaN,x,NaN,x,NaN,x,NaN,x
1,239460,2021-07-01 00:00:00,RH,NaN,x,NaN,x,NaN,x,NaN,...,NaN,x,NaN,l,NaN,l,NaN,l,NaN,x
2,239461,2021-07-01 00:00:00,SR,NaN,x,0.0,l,0.0,l,0.0,...,0.0,l,0.0,l,0.0,l,0.0,l,0.0,x
3,239462,2021-07-01 00:00:00,PRS,NaN,x,NaN,x,NaN,x,NaN,...,NaN,x,NaN,l,NaN,l,NaN,l,NaN,x
4,239463,2021-07-01 00:00:00,RAINF,NaN,x,NaN,x,NaN,x,NaN,...,NaN,x,NaN,l,NaN,l,NaN,l,NaN,x

In [4]:
initialDfCont.head()

,Unnamed: 0,date,parameter,SE,SE_b,NE,NE_b,CE,CE_b,NO,...,SO2,SO2_b,SE3,SE3_b,SUR,SUR_b,Norte2,NTE2_b,NE3,NE3_b
0,205739,2021-07-01 00:00:00,PM10,NaN,x,NaN,x,NaN,x,NaN,...,NaN,x,NaN,l,NaN,l,NaN,l,NaN,x
1,205740,2021-07-01 00:00:00,PM2.5,NaN,x,NaN,x,NaN,x,NaN,...,NaN,x,NaN,l,NaN,l,NaN,l,NaN,x
2,205741,2021-07-01 00:00:00,O3,NaN,x,NaN,x,NaN,x,NaN,...,NaN,x,NaN,l,NaN,l,NaN,l,NaN,x
3,205742,2021-07-01 00:00:00,SO2,NaN,x,NaN,x,NaN,x,NaN,...,NaN,x,NaN,l,NaN,l,NaN,l,NaN,x
4,205743,2021-07-01 00:00:00,NO2,NaN,e,NaN,x,NaN,x,NaN,...,NaN,e,NaN,e,NaN,e,NaN,e,NaN,e

In [5]:
columns = ["Unnamed: 0", "date", "parameter", "NE", "NE_b"]
dfMete = initialDfMete[columns]

In [6]:
dfCont = initialDfCont[columns]

In [7]:
dfMete.head()

   Unnamed: 0                 date parameter   NE NE_b
0      239459  2021-07-01 00:00:00     TOUT   NaN    x
1      239460  2021-07-01 00:00:00     RH     NaN    x
2      239461  2021-07-01 00:00:00     SR     0.0    l
3      239462  2021-07-01 00:00:00     PRS    NaN    x
4      239463  2021-07-01 00:00:00     RAINF  NaN    x

In [8]:
dfCont.head()

   Unnamed: 0                 date parameter  NE NE_b
0      205739  2021-07-01 00:00:00     PM10  NaN    x
1      205740  2021-07-01 00:00:00     PM2.5 NaN    x
2      205741  2021-07-01 00:00:00     O3    NaN    x
3      205742  2021-07-01 00:00:00     SO2   NaN    x
4      205743  2021-07-01 00:00:00     NO2   NaN    x